@model List<ViewModels.UsuarioViewModel> 

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Usuario</th>
      <th scope="col">Rol</th>
      
      <th scope="col">Borrar</th>
    </tr>
  </thead>
@foreach (var item in Model)
{
  <tbody>
    <tr>
      <th scope="row">@item.id</th>
      <td>@item.nombre</td>
      <td>@item.usuario</td>
      
      <td>@item.rol</td>
      <td>
        <form asp-controller="Cliente" asp-action= "bajaUsuario" method="post">
            <input type="number" value=@item.id name="id" hidden>
            <input  class="btn btn-danger" type="submit" value="Eliminar">
            
        </form>
      </td>
    </tr>
   
  </tbody>
    
}
</table>