@{
    ViewData["Title"] = "Pedidos Page";
   
    
}


 
<div >
    <form asp-controller="Pedido" asp-action= "addPedido" method="post">

        <legend>"Registrar Pedido"</legend>
        
        <div>"Observacion" <input type="text" name="ob" required></div>
        <div>"Cliente ID"<input type="number" name= "c" required></div>
        <div>"estado"<input type="text" name="e" required></div>
        <div>"cadete ID:"<input type="number" name="i" required></div>
        <div><input type="submit" value="Cargar" name="car"><input type="reset" value="Borrar" name="res"></div>
    </form>
</div>